/* Ana stil */
.main {
    position: relative;
    width: 100%;
    height: 80vh; /* Ekranın 80% hündürlüyü */
    overflow: hidden;
    display: flex; /* Flexbox ilə mərkəzləşdirmək */
    justify-content: center; /* Horizontal mərkəzləşdirmə */
    align-items: center; /* Vertikal mərkəzləşdirmə */
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.carouselImage:nth-child(1) {
    opacity: 1;
}

.newsContainer {
    display: flex;
    align-items: center; /* Düymələri mərkəzləşdirir */
    justify-content: center;
    margin-top: 20px;
    width: 100%; /* 100% genişlik */
    gap: 20px; /* Kartlar arasındaki mesafeyi artırdık */
}

.cardWrapper {
    display: flex;
    justify-content: center; /* Kartları merkeziye hizala */
    align-items: center; /* Yatay ve dikey ortalamak için */
    transition: transform 0.5s ease;
    gap: 20px; /* Kartlar arasındaki mesafe */
}

.cardImage {
    width: 100%; 
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: 200px; /* Kartların genişliyi */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.arrowButton {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrowButton:hover {
    background-color: #000;
    color: white;
}

/* Mobil responsivlik */
@media (max-width: 768px) {
    .main {
        height: 60vh; /* Mobil ekranlarda daha az yükseklik */
    }

    .carouselImage {
        object-fit: contain; /* Mobildə şəkilin pozulmasının qarşısını alır */
    }

    .newsContainer {
        flex-direction: column; /* Kartlar və düymələr dikey sıraya yerləşəcək */
        gap: 10px; /* Kartlar arasındakı məsafə kiçildilib */
    }

    .cardWrapper {
        flex-direction: column; /* Kartlar mobil ekranlarda dikey yerləşəcək */
        gap: 10px; /* Kartlar arasındakı məsafə */
    }

    .card {
        width: 90%; /* Kartlar mobildə daha geniş olacaq */
    }

    .arrowButton {
        padding: 8px 12px; /* Düymlərin ölçüsünü kiçiltmək */
    }
}

/* Tablet boyutları üçün */
@media (max-width: 1024px) {
    .newsContainer {
        gap: 15px; /* Tablet üçün daha geniş boşluq */
    }

    .cardWrapper {
        gap: 15px; /* Tablet üçün daha geniş məsafə */
    }

    .card {
        width: 250px; /* Tablet üçün kartların ölçüsünü artırdıq */
    }
}
