.main {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.carouselImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
}

.carouselImage:nth-child(1) {
    opacity: 1;
}

.newsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap; /* Kartları sarmalayarak alt satıra taşı */
    width: 100%;
}

.cardWrapper {
    display: flex;
    flex-wrap: wrap; /* Kartların alt satıra geçmesine izin ver */
    justify-content: center; /* Kartları ortala */
    transition: transform 0.5s ease;
}

.cardImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    width: calc(25% - 20px); /* 4 kart için uygun genişlik */
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.arrowButton {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.arrowButton:hover {
    background-color: #007bff;
    color: white;
}
h3{
    padding: 20px;
}
h2{
    padding-top: 20px;
}
/* Tablet ve küçük ekranlar */
@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* 2 kart yan yana */
    }

    .cardImage {
        height: 120px; /* Kart resimleri daha küçük */
    }

    .main {
        height: 60vh; /* Ana carousel daha küçük */
    }
}

/* Mobil cihazlar */
@media screen and (max-width: 480px) {
    .card {
        width: 100%; /* Kartlar tam genişlikte */
        margin: 10px 0; /* Daha küçük marjin */
    }

    .cardImage {
        height: 100px; /* Daha küçük resim yüksekliği */
    }

    .main {
        height: 50vh; /* Ana carousel daha küçük */
    }

    .arrowButton {
        padding: 5px 10px; /* Daha küçük buton boyutları */
        font-size: 14px; /* Daha küçük yazı */
    }

    h2, h3 {
        padding: 10px;
        font-size: 18px; /* Başlıklar daha küçük */
    }
}
